LearnEng_ViewModel/Connected Services/WCFContact_Server/WCFContact_Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFContact_Server" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/WCFContact_Server?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/WCFContact_Server?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/WCFContact_Server?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" />
      <xsd:import schemaLocation="http://localhost:8080/WCFContact_Server?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFContact_Server_AllUserGroupsOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AllUserGroupsOfUser" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_AllUserGroupsOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllUserGroupsOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_AllDictionaryEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:AllDictionaryEntries" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_AllDictionaryEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllDictionaryEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FindUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByName" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FindUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_ConfigureAutoMapper_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfigureAutoMapper" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_ConfigureAutoMapper_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfigureAutoMapperResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FetchCountUserDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchCountUserDictionary" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FetchCountUserDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchCountUserDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FetchRangeUserDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchRangeUserDictionary" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FetchRangeUserDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchRangeUserDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_CreateSaveEntityFromDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSaveEntityFromDTO" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_CreateSaveEntityFromDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSaveEntityFromDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_DeleteSaveEntityFromDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSaveEntityFromDTO" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_DeleteSaveEntityFromDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSaveEntityFromDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_UpdateSaveEntityFromDTO_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSaveEntityFromDTO" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_UpdateSaveEntityFromDTO_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSaveEntityFromDTOResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FindIntegratedVacabularyEntryForWord_InputMessage">
    <wsdl:part name="parameters" element="tns:FindIntegratedVacabularyEntryForWord" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FindIntegratedVacabularyEntryForWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindIntegratedVacabularyEntryForWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FetchUserSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchUserSettings" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_FetchUserSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchUserSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IWCFContact_Server_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFContact_Server">
    <wsdl:operation name="AllUserGroupsOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/AllUserGroupsOfUser" message="tns:IWCFContact_Server_AllUserGroupsOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/AllUserGroupsOfUserResponse" message="tns:IWCFContact_Server_AllUserGroupsOfUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllDictionaryEntries">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/AllDictionaryEntries" message="tns:IWCFContact_Server_AllDictionaryEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/AllDictionaryEntriesResponse" message="tns:IWCFContact_Server_AllDictionaryEntries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/FindUserByName" message="tns:IWCFContact_Server_FindUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/FindUserByNameResponse" message="tns:IWCFContact_Server_FindUserByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfigureAutoMapper">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/ConfigureAutoMapper" message="tns:IWCFContact_Server_ConfigureAutoMapper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/ConfigureAutoMapperResponse" message="tns:IWCFContact_Server_ConfigureAutoMapper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchCountUserDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/FetchCountUserDictionary" message="tns:IWCFContact_Server_FetchCountUserDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/FetchCountUserDictionaryResponse" message="tns:IWCFContact_Server_FetchCountUserDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchRangeUserDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/FetchRangeUserDictionary" message="tns:IWCFContact_Server_FetchRangeUserDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/FetchRangeUserDictionaryResponse" message="tns:IWCFContact_Server_FetchRangeUserDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSaveEntityFromDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/CreateSaveEntityFromDTO" message="tns:IWCFContact_Server_CreateSaveEntityFromDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/CreateSaveEntityFromDTOResponse" message="tns:IWCFContact_Server_CreateSaveEntityFromDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSaveEntityFromDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/DeleteSaveEntityFromDTO" message="tns:IWCFContact_Server_DeleteSaveEntityFromDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/DeleteSaveEntityFromDTOResponse" message="tns:IWCFContact_Server_DeleteSaveEntityFromDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSaveEntityFromDTO">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/UpdateSaveEntityFromDTO" message="tns:IWCFContact_Server_UpdateSaveEntityFromDTO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/UpdateSaveEntityFromDTOResponse" message="tns:IWCFContact_Server_UpdateSaveEntityFromDTO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindIntegratedVacabularyEntryForWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/FindIntegratedVacabularyEntryForWord" message="tns:IWCFContact_Server_FindIntegratedVacabularyEntryForWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/FindIntegratedVacabularyEntryForWordResponse" message="tns:IWCFContact_Server_FindIntegratedVacabularyEntryForWord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchUserSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/FetchUserSettings" message="tns:IWCFContact_Server_FetchUserSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/FetchUserSettingsResponse" message="tns:IWCFContact_Server_FetchUserSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFContact_Server/Test" message="tns:IWCFContact_Server_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFContact_Server/TestResponse" message="tns:IWCFContact_Server_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFContact_Server" type="tns:IWCFContact_Server">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllUserGroupsOfUser">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/AllUserGroupsOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllDictionaryEntries">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/AllDictionaryEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserByName">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/FindUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfigureAutoMapper">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/ConfigureAutoMapper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchCountUserDictionary">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/FetchCountUserDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchRangeUserDictionary">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/FetchRangeUserDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSaveEntityFromDTO">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/CreateSaveEntityFromDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSaveEntityFromDTO">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/DeleteSaveEntityFromDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSaveEntityFromDTO">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/UpdateSaveEntityFromDTO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindIntegratedVacabularyEntryForWord">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/FindIntegratedVacabularyEntryForWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUserSettings">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/FetchUserSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/IWCFContact_Server/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFContact_Server">
    <wsdl:port name="BasicHttpBinding_IWCFContact_Server" binding="tns:BasicHttpBinding_IWCFContact_Server">
      <soap:address location="http://localhost:8080/WCFContact_Server" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>