LearnEng_ViewModel/Connected Services/WCFContact_Server/WCFContact_Server.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/WCFContact_Server?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" />
  <xs:import schemaLocation="http://localhost:8080/WCFContact_Server?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8080/WCFContact_Server?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model" />
  <xs:element name="AllUserGroupsOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="user" nillable="true" type="q1:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllUserGroupsOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="AllUserGroupsOfUserResult" nillable="true" type="q2:ArrayOfUserGroupDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllDictionaryEntries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllDictionaryEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="AllDictionaryEntriesResult" nillable="true" type="q3:ArrayOfDictionaryEntryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameOfUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="FindUserByNameResult" nillable="true" type="q4:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigureAutoMapper">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigureAutoMapperResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchCountUserDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchCountUserDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchCountUserDictionaryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRangeUserDictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGuid" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchRangeUserDictionaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="FetchRangeUserDictionaryResult" nillable="true" type="q7:ArrayOfUserDictionaryEntryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSaveEntityFromDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="dto" nillable="true" type="q8:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSaveEntityFromDTOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaveEntityFromDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="dto" nillable="true" type="q9:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSaveEntityFromDTOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaveEntityFromDTO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="dto" nillable="true" type="q10:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSaveEntityFromDTOResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIntegratedVacabularyEntryForWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="word" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model" minOccurs="0" name="wordLanguage" type="q11:Languages" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model" minOccurs="0" name="translationLanguage" type="q12:Languages" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindIntegratedVacabularyEntryForWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="FindIntegratedVacabularyEntryForWordResult" nillable="true" type="q13:IntegratedVacabularyEntryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUserSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userGUID" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchUserSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="FetchUserSettingsResult" nillable="true" type="q15:UserSettingsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LearnEng_Server.Model.DTO" minOccurs="0" name="dto" nillable="true" type="q16:DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>